/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho (Header) */
.main-header {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px; 
    height: auto;
    cursor: pointer;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-nav a:hover {
    color: #0004ff;
}

/* Estilos para seções */
.about,
.portfolio,
.contact {
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color:#0004ff
}

/* Projetos no Portfólio */
.project {
    margin-bottom: 2rem;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rodapé (Footer) */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Seção de Contato */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
}

.contact-form {
    flex: 1;
    background-color: rgb(128, 128, 128);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-top: 0;
    color: white;
}

.form-group {
    margin-bottom: 1rem;
    color: white;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #0004ff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    flex: 1;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p {
    margin: 0.5rem 0;
}

/* Estilos para layout responsivo */
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .contact-form,
    .contact-info {
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* Estilos para o botão "Voltar ao Topo" */
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #777575;
    color: #fdfdfd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
}

#topButton:hover {
    background-color: #0004ff;
}
.social-icons {
    font-size: 24px; /* Tamanho dos ícones */
}

.social-icons a {
    margin-right: 20px; /* Espaçamento entre os ícones */
    color: #0a0a0a; /* Cor dos ícones */
}

.social-icons a:hover {
    color: #0004ff; /* Cor dos ícones ao passar o mouse */
}
